@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top:50px">
    <h1 class="display-4">Welcome to MixologyWeb</h1>

    <h3 style="padding:30px">Find and share the cocktail recipes  and become a masterful mixologist</h3>

    <p>Please note that the content of this website is for educational purposes only. Do not consume alchohol if you are not of legal drinking age. Always drink responsibly! </p>
    <p>For more information refer to ower <a href="/home/privacy">Policy</a>.</p>
</div>
